* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    block-size: border-box;
}

:root {
    --blue: #2a2185;
    --white: #fff;
    --gray: #f5f5f5;
    --black0: #222;
    --black1: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.nav {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left:10px solid blue;
    transition: 0.5s ease;
}
.nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav ul li {
   position: relative; 
   width: 100%;
   list-style: none;
}

.nav ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--white);
}

.nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.nav ul li:hover {
    background-color: var(--white);
}

.nav ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none; 
}

