* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    block-size: border-box;
}

:root {
    --blue: #2a2185;
    --white: #fff;
    --gray: #f5f5f5;
    --black0: #222;
    --black1: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.nav {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left:10px solid blue;
    transition: 0.5s ease;
}
.nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav ul li {
   position: relative; 
   width: 100%;
   list-style: none;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}

.nav ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--white);
}

.nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.nav ul li:hover,
.nav ul li.hovered {
    background-color: var(--white);
}

.nav ul li:hover a,
.nav ul li.hovered a{
    color: var(--blue);
}
.nav ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none; 
}

.nav ul li a .icon i  {
   font-size: 1.65rem;
   padding-top: 10px;
}

.nav ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.nav ul li:hover::before,
.nav ul li.hovered::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    box-shadow: 35px 35px 0 10px var(--white);
    background-color: transparent;
    border-radius: 50%;
}

.nav ul li:hover::after,
.nav ul li.hovered::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    box-shadow: 35px -35px 0 10px var(--white);
    border-radius: 50%;
}

